<a href="https://colab.research.google.com/github/HJoon-K/Find_Dust/blob/develop/gitclone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
git_token = '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'
git_username = 'HJoon-K'
git_repo = 'Find_Dust'
git_path = 'https://' + git_token + '@github.com/' + git_username +'/' + git_repo + '.git'
print(git_path)

https://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@github.com/HJoon-K/Find_Dust.git

In [5]:
# from os.path import join

# proj_path = '/content/drive/MyDrive/Colab Notebooks/'
# %cd '{proj_path}'
# !git clone '{git_path}'

In [6]:
proj_path = '/content/drive/MyDrive/Colab Notebooks/'
%cd '{proj_path}'

with open('Find_Dust/hello', 'r') as f:
    c = f.read()
print(c)

/content/drive/MyDrive/Colab Notebooks
Hello World!!

In [7]:
iris = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
dust = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dustdata/dust2020.csv')
dust.tail()

          date   gu  PM10  PM25
9095  20200101  양천구    40    26
9096  20200101  강남구    30    22
9097  20200101  서초구    37    23
9098  20200101  송파구    31    21
9099  20200101  강동구    35    27

In [10]:
dust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9100 non-null   int64
 1   gu      9100 non-null   object
 2   PM10    9100 non-null   int64
 3   PM25    9100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 284.5+ KB